core/src/main/resources/srcgen4j-core-emf-0_5_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.fuin.org/srcgen4j/core/emf/0.5.0"
   xmlns:sg4jc="http://www.fuin.org/srcgen4j/commons/0.5.0"
   targetNamespace="http://www.fuin.org/srcgen4j/core/emf/0.5.0">

    <!-- No schemaLocation: the commons schema is provided by the processor (bundled jar / SchemaHelper / IDE catalog).
         A schemaLocation pointing at the published http URL would be a stale, network-fetched hint. -->
    <xs:import namespace="http://www.fuin.org/srcgen4j/commons/0.5.0" />

    <!-- Configuration for the generator -->

    <xs:element name="emf-generator-config" type="emf-generatorConfigType" />

    <xs:complexType name="emf-generatorConfigType">
        <xs:sequence>
          <xs:element ref="sg4jc:variable" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="sg4jc:replacer" minOccurs="0" maxOccurs="unbounded" />
          <xs:element type="sg4jc:artifactFactoryConfigType" name="artifact-factory" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
